# ===== Backend =====
backend/target/
backend/*.log
backend/.env

# ===== Frontend =====
frontend/node_modules/
frontend/dist/
frontend/.env

# ===== IDE =====
.idea/
.vscode/

# ===== OS =====
.DS_Store
